//////////////////////////////////////
//              COLORS              //
//////////////////////////////////////
$white: #fff;
$black: #000;
$grey: #484A47;
$lightGrey: #656565;
$darkGreen: #317249;
$mediumGreen: #45914E;
$lightGreen: #66AA69;
$lightestGreen: #81B984;





//////////////////////////////////////
//              FONTS               //
//////////////////////////////////////